<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795956001274-uqm6mncg9bb99e5e2rhs4bc26i9sssdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795956001274-uqm6mncg9bb99e5e2rhs4bc26i9sssdr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>795956001274-9hhfugbiur7gnd1connbulgargtqchq6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKV0Fy5PIn4mbREgW3tdjZ-H4qMJaVbmY</string>
	<key>GCM_SENDER_ID</key>
	<string>795956001274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookClub</string>
	<key>PROJECT_ID</key>
	<string>book-club-226bb</string>
	<key>STORAGE_BUCKET</key>
	<string>book-club-226bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795956001274:ios:051acb1f26bc54a0850c43</string>
</dict>
</plist>